allow crash_dump gpu_device:chr_file {getattr map open};
allow crash_dump vendor_default_prop:file {getattr map open};
allow crash_dump vendor_display_prop:file {getattr map open};
